@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: 96, 165, 250;
  --accent-light: 147, 197, 253;
  --accent-dark: 30, 58, 138;
}

html {
  font-family: 'Inter', system-ui, sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}